@import './module/ui/cmui'

@import './module/home/banner'
@import './module/home/cat-list'
@import './module/browser-fav'


article
	.banner
		banner()

	.cat-list
		cat-list()

	.browser-fav
		browser-fav()
